@model WebSiram.ViewModels.UserVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Users</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-danger card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/adminlte/dist/img/user4-128x128.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@Model.user.username</h3>

                            <p class="text-muted text-center">@Model.user.email</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="float-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">543</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="float-right">13,287</a>
                                </li>
                            </ul>

                            <a href="#" class="btn btn-siram btn-block"><b>Kembali</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    @* <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i> Education</strong>

                    <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                    </p>

                    <hr>

                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                    <p class="text-muted">Malibu, California</p>

                    <hr>

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                    <p class="text-muted">
                    <span class="tag tag-danger">UI Design</span>
                    <span class="tag tag-success">Coding</span>
                    <span class="tag tag-info">Javascript</span>
                    <span class="tag tag-warning">PHP</span>
                    <span class="tag tag-primary">Node.js</span>
                    </p>

                    <hr>

                    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.card-body -->
                    </div> *@
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Akun</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Security</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Konfigurasi</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="input-username" class="col-sm-2 col-form-label">Username</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="username" name="username" value="@Model.user.username" placeholder="Username">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-first_name" class="col-sm-2 col-form-label">First Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="first_name" name="first_name" value="@Model.user.first_name" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-last_name" class="col-sm-2 col-form-label">Last Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="last_name" name="last_name" value="@Model.user.last_name" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-telepon" class="col-sm-2 col-form-label">Telepon</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="telepon" name="telepon" value="@Model.user.telepon" placeholder="Telepon">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="email" name="email" value="@Model.user.email" placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="role" class="col-sm-2 col-form-label">Role</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="role">
                                                            @foreach (var item in Model.roles)
                                                            {
                                                                <option value="@item.roles_name">@item.description</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="group" class="col-sm-2 col-form-label">Group</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="group">
                                                            @foreach (var item in Model.groups)
                                                            {
                                                                <option value="@item.group_name">@item.group_name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="status">
                                                            @foreach (var item in ViewBag.Status)
                                                            {
                                                                if (item.value == @Model.user.status)
                                                                {
                                                                    <option value="@item.value" selected>@item.text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.value">@item.text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-danger">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="input-password" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmasi assword">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Data Pribadi</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label for="input-nik" class="col-sm-2 col-form-label">NIK</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="nik" name="nik" value="@Model.personel.nik" placeholder="NIK">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-nama" class="col-sm-2 col-form-label">Nama Lengkap</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="nama" name="nama" value="@Model.personel.nama" placeholder="Nama lengkap">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-tempat_lahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="tempat_lahir" name="tempat_lahir" value="@Model.personel.tempat_lahir" placeholder="Nama lengkap">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-tanggal_lahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="tanggal_lahir" name="tanggal_lahir" value="@Model.personel.tanggal_lahir" placeholder="Tanggal lahir">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="input-jenis_kelamin" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="jenis_kelamin" name="jenis_kelamin" value="@Model.personel.jenis_kelamin" placeholder="Jenis kelamin">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-golongan_darah" class="col-sm-2 col-form-label">Golongan Darah</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="golongan_darah" name="golongan_darah" value="@Model.personel.golongan_darah" placeholder="Golongan darah">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group row">
                                                    <label for="input-alamat" class="col-sm-2 col-form-label">Alamat</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="alamat" name="alamat" value="@Model.personel.alamat" placeholder="Alamat">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-rt" class="col-sm-2 col-form-label">RT/RW</label>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="rt" name="rt" value="@Model.personel.rt" placeholder="RT">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="rw" name="rw" value="@Model.personel.rw" placeholder="RW">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label for="input-kecamatan" class="col-sm-2 col-form-label">Kecamatan</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="kecamatan" name="kecamatan" value="@Model.personel.kecamatan" placeholder="Kecamatan">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-kabupaten" class="col-sm-2 col-form-label">Kabupaten</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="kabupaten" name="kabupaten" value="@Model.personel.kabupaten" placeholder="Kabupaten">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-provinsi" class="col-sm-2 col-form-label">Provinsi</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="provinsi" name="provinsi" value="@Model.personel.provinsi" placeholder="Provinsi">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-agama" class="col-sm-2 col-form-label">Agama</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="agama" name="agama" value="@Model.personel.agama" placeholder="Agama">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-status_perkawinan" class="col-sm-2 col-form-label">Status Perkawinan</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="status_perkawinan" name="status_perkawinan" value="@Model.personel.status_perkawinan" placeholder="Status perkawinan">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-pekerjaan" class="col-sm-2 col-form-label">Pekerjaan</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="pekerjaan" name="pekerjaan" value="@Model.personel.pekerjaan" placeholder="Pekerjaan">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="input-kewarganegaraan" class="col-sm-2 col-form-label">Kewarganegaraan</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="kewarganegaraan" name="kewarganegaraan" value="@Model.personel.kewarganegaraan" placeholder="Kewarganegaraan">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-danger">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Organisasi</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label for="input-nrp" class="col-sm-2 col-form-label">NRP</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="nrp" name="nrp" value="@Model.personel.nrp" placeholder="NRP">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="input-upline_id" class="col-sm-2 col-form-label">Upline</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="upline_id" name="upline_id" value="@Model.personel.upline_id" placeholder="Upline Id">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="divisis" class="col-sm-2 col-form-label">Matra</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="divisis">
                                                            @foreach (var item in Model.divisis)
                                                            {
                                                                <option value="@item.divisi_id">@item.divisi_id</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label for="pangkats" class="col-sm-2 col-form-label">Pangkat</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="pangkat">
                                                            @foreach (var item in Model.pangkats)
                                                            {
                                                                <option value="@item.nama_pangkat">@item.divisi_id | @item.sub_kategori | @item.nama_pangkat</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="jabatan" class="col-sm-2 col-form-label">Jabatan</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="jabatan">
                                                            @foreach (var item in Model.jabatans)
                                                            {
                                                                <option value="@item.jabatan_id">@item.nama_jabatan</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-danger">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
