@model IEnumerable<WebSiram.Models.Activity>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Managemen Aplikasi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Pangkat</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    @await Html.PartialAsync("_MenuSettings")
                </div>
                <!-- /.col -->

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Transaksi</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reg No</th>
                                        <th>Status</th>
                                        <th>Keterangan</th>
                                        <th>Tanggal</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">@item.id</td>
                                            <td> <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.reg_no">@item.reg_no</a></td>
                                            <td>@item.status</td>
                                            <td>@item.description</td>
                                            <td>@item.created_at.ToString("dd MMM yyyy")</td>
                                            <td class="text-center">
                                                <a asp-controller="Pangkat" asp-action="Edit" asp-route-id="@item.id"><i class="far fa-edit text-warning mr-2"></i></a>
                                           
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
